<!doctype html>
<html ⚡4email data-css-strict>
    <head>
        <meta charset="utf-8">
        <script async src="https://cdn.ampproject.org/v0.js"></script>
        <script async custom-element="amp-bind" src="https://cdn.ampproject.org/v0/amp-bind-0.1.js"></script>
        <script async custom-template="amp-mustache" src="https://cdn.ampproject.org/v0/amp-mustache-0.2.js"></script>
        <script async custom-element="amp-list" src="https://cdn.ampproject.org/v0/amp-list-0.1.js"></script>
        <style amp4email-boilerplate>
            body {
                visibility: hidden;
            }
        </style>
    </head>

    <body>
        <!-- Your product listings -->
            <div>
                <h2>Product 1</h2>
                <p>$10</p>
                <button on="tap:AMP.setState({ products: [products.concat({ id: 1, title: 'Product 1', price: 10 }]) })">Add to
                    Cart</button>
            
            </div>
            <div>
                <h2>Product 2</h2>
                <p>$20</p>
                <button on="tap:AMP.setState({ products: [...products, { id: 2, title: 'Product 2', price: 20 }] })">Add to
                    Cart</button>
            </div>
            
            <!-- Shopping Cart -->
            <!-- <amp-list 
                layout="responsive" 
                height="100px" 
                width="500px" 
                src="https://dummyjson.com/carts/"
                binding="refresh">
                <template type="amp-mustache" id="cart-items">
                    {{#isEmpty}}
                    <h3>Your Basket is Empty. </h3>
                    {{/isEmpty}}
                    {{^isEmpty}}
                    {{#cartItems}}
                    <div>{{name}} - {{price}} <button
                        on="tap:AMP.setState({ cartItems: cartItems.filter(item => item.id !== {{id}}) })">Remove</button></div>
                    {{/cartItems}}
                    {{/isEmpty}}
                </template>
            </amp-list> -->
            <amp-list layout="fixed-height" height="100" src="https://fakestoreapi.com/products/" binding="refresh">
                <template type="amp-mustache">
                    {{#products}}
                    <div>Product: {{title}}, Price: ${{price}}</div>
                    {{/products}}
                    {{^products}}
                    <div>Your cart is empty.</div>
                    {{/products}}
                </template>
            </amp-list>
        <amp-state id="products">
            <script type="application/json">
                {
                    "products": []
                }
                </script>
        </amp-state>
    </body>
</html>